.noise {
    display: flex;
    align-items: center;
    justify-content : space-between;
    margin : 15px 0;
    & > span {
        color: #fff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        opacity: 0.5;
        width: 50%;
    }
    &__volumn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 50%;
        
    }
    &__slider {
        cursor: grab;
        width: 150px;
        height: 22px;
        border-radius: 9999px;
        background-color: #14141d;
        display: flex;
        align-items: center;
    }
    &__thumb {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 50%;
        border: none;
        &:focus-visible {
            outline: none;
        }
    }
    &__track {
        height: 100%;
        border-radius: 999px;
        &.primary {
            background-color: #f3a952;
        }
    }
    &__noise {
        & > h4 {
            color: #fff;
            font-size: 20px;
            line-height: 1.75rem;
            font-weight: 700;
            margin: 15px 0;
        }
    }
    &__noiselist {
        overflow-y: auto;
        padding: 0 8px;
        border-radius: 12px;
        height: 300px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        &::-webkit-scrollbar {
            display: none!important;
        }
    }
}
