.content{
    position : absolute ;
    inset : 0;
    overflow: hidden;
    display: flex;
    overflow-y: auto;
    flex :none;
    flex-flow: column nowrap;
    &::-webkit-scrollbar{
        display: none;
    }
    scroll-snap-type: y mandatory;
}