.mode {
    max-height: 300px;
    &__container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        & > h4 {
            color: #fff;
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-weight: 700;
        }
    }
    &__list {
        margin-top: 10px;
        width: 100%;
    }
}
